[Desktop Entry]
Type=Application
Name=Fcitx 5
GenericName=Input Method
Comment=Start Input Method
Exec=/usr/bin/fcitx5
Icon=fcitx
Terminal=false
StartupNotify=false
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
